{% extends "layouts/base.html" %} {% block title %} Quizzes {% endblock %} 
{% block content %}

<div class="jumbotron mb-0">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8 py-md-5">
        <h1 class="display-4">{{quiz.title|title}}</h1>
        {{quiz.description|safe}}
        <hr>

<!--         {% if exam_schedule %}
          <a href="{% url "quiz-start" quiz.id %}" class="btn btn-primary">Start Quiz</a>
        {% else %}
          <p><strong>Exam is scheduled on {{exam_schedule_date}}</strong></p>
        {% endif %} -->
          <p><strong>Exam is scheduled on 11.09.2021 at 8:00PM </strong></p>
        
      </div>
    </div>
  </div>
  </div>

{% endblock %}
