{% extends "layouts/base-auth.html" %} {% block title %} Register {% endblock %} 
{% block content %}

        <div class="login-wrap p-4 p-md-5 mt-3">
          <h3 class="mb-4">Register Now</h3>
          <form  class="signup-form" method="POST">
          {% csrf_token %}
            <div class="form-group">
              <label class="label" for="name">Username</label>
              {{form.username}}
            </div>
            <div class="form-group">
              <label class="label" for="email">Email Address</label>
              {{form.email}}
            </div>
            <div class="form-group">
              <label class="label" for="password">Password</label>
              {{form.password1}}
            </div>
            <div class="form-group">
              <label class="label" for="password">Confirm Password</label>
              {{form.password2}}
            </div>
            <div class="form-group d-flex justify-content-end mt-4">
              <button type="submit" class="btn btn-primary submit">
                <span class="fa fa-paper-plane"></span>
              </button>
            </div>
          </form>
          <p class="text-center">
            Already have an account? <a id="login_btn" href="{% url "login" %}">Sign In</a>
          </p>
        </div>
 
 
 
 <script>
    var form_fields = document.getElementsByTagName('input')
		form_fields[1].placeholder='Username..';
		form_fields[2].placeholder='Email..';
		form_fields[3].placeholder='Enter password...';
		form_fields[4].placeholder='Re-enter Password...';
    
    for(var i=0;i<form_fields.length;i++){
      form_fields[i].classList.add("form-control")
    }

    let url = new URL(window.location)
    let parms = new URLSearchParams(url.search)
    let redirectUrl = parms.get("next")

    const loginBtn = document.getElementById("login_btn")
    if(redirectUrl){
      loginBtn.href = `/login/${window.location.search}`
    }
</script>
 


{% endblock %}
