<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
  <title>StudyLab - {% block title %} Open-Source Admin Panel {% endblock %} </title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  
  <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />

<link rel="stylesheet" href="{% static 'css/style.css'%}">
</head>
<body>
<section class="ftco-section ftco-no-pb ftco-no-pt">
  <div class="container">
    <div class="row justify-content-center align-items-center" style="height:100vh">
      <div class="col-md-5 order-md-last">
    {% block content %} {% endblock %}
     </div>
    </div>
  </div>
</section>
</body>
</html